{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>MyWordle@TalkWithShubha</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}" />
  <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
  <script src="{% static 'js/myscripts.js' %}"></script>
</head>



<body>
    <!-- Navingation Bar and Menu----------------------------------------------->
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Navingation Bar Header-------------------------->
        <div class="navbar-header">
            <!-- Breadcrumbr toogle Icon-------------------------->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
            <!-- Brand logo -->
            <a class="navbar-brand" href="home"><img src="{% static 'images/wordle_icon.png' %}" alt="My Wordle" width="70" height="30">@TalkWithShubha</a>
        </div>
        <!-- Navigation Collapsed Area ------- -->
        <div class="collapse navbar-collapse" id="myNavbar">
            <!-- Navigation Menu Item -->
            <ul class="nav navbar-nav">
                <li><a href="home"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                <li><a href="rule"><i class="fa fa-question-circle" aria-hidden="true"></i>Rule</a></li>
                <li class="active"><a href="about"><i class="fa fa-info-circle" aria-hidden="true"></i>About</a></li>
                <li><a href="mailto:talkwithshubha@gmail.com" target="_blank"><i class="fa fa-address-card" aria-hidden="true"></i>Contact</a></li>
            </ul>
            <!-- Navigation Right Item -->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"> </a></li>
            </ul>
        </div>
    </div>
    </nav>
    <!------------------- End of Navingation Bar and Menu----------------------------------------------->
    
    <!-------- Main Page Container ----------------------------------------------------->
    <div id="page-container">
        <!------Wrapper Container ----------------->
        <div class="container-fluid text-center">    
        <div class="row content">
            <!-- Left side pannel------->
            <div class="col-sm-4 sidenav"></div>


            <!------ Main pannel------------------->
            <div class="col-sm-4 text-left" style="background-color:#ffffff;text-align:center;padding:10px; auto;">
                <!--Timer/Display Result Section--> 
                <div class="panel panel-primary" style="border-color:#0960c4;">
                    <div class="panel-heading" style="padding:3px;background-color:#0960c4;border-color:#0960c4;">
                        <div style="text-align:center" id="time">About Wordle</div>
                    </div>
                    <div class="panel-body" style="font-family:verdana;" id="result">
                        
                        <p>Wordle is a web-based word game  initially owned and published by The New York Times Company since 2022. Players have six attempts to guess a five-letter word, with feedback given for each guess in the form of colored tiles indicating when letters match or occupy the correct position. The mechanics are nearly identical to the 1955 pen-and-paper game Jotto and the television game show franchise Lingo. 
                        Many clones and variations of the game were also created, as were versions in languages besides English.</p>
                        <p>Wardle initially created the prototype of Wordle in 2013, inspired by making a word-based version of the color-matching game Mastermind; the prototype allowed for endless play, with players able to play puzzles immediately after each other, and its wordlist was unfiltered. Initially, the game used all 13,000 possible five letter words in the English language, but he found that his partner Palak Shah had difficulty recognizing some of the less common words and made the guessing as haphazard as it was in Mastermind. He then used Shah as a simple filter to trim down the word list to around 2,000 words that were more recognizable - roughly five years of puzzles on a daily basis. After finishing the prototype around 2014, Wardle had lost interest and set the prototype aside.</p>
                        <p>In the intermediate time, Wardle created the two online social experiments The Button and Place when working for Reddit. When the COVID-19 pandemic struck, he and his partner "got really into" The New York Times' Spelling Bee and daily crossword puzzle. Wardle recalled his Wordle prototype and was inspired by two elements from Spelling Bee to flesh out the prototype further: the simple-to-use website design for the puzzle, and the limitation of one puzzle per day. By January 2021, Wardle had published Wordle on the web, mostly shared with himself and his partner. He had named it Wordle as a pun on his surname. 
                        Ref: https://en.wikipedia.org/wiki/Wordle </p>
                        
                    
                    </div>
                </div>
                
                
                
          
            </div>...
            <!------End of Main Pannel ----------------->
        
        
            <!-- Right side pannel------->
            <div class="col-sm-4 sidenav"></div>
    
    
        </div>
        </div>
        <!------End of Wrapper Container ----------------->

        <footer class="container-fluid text-center">
        Wordle©TalkWithShubha
        <a href="https://www.facebook.com/shubhadip.datta" target="_blank" class="fa fa-facebook"></a>
        <a href="mailto:talkwithshubha@gmail.com" target="_blank" class="fa fa-envelope"></a>
        <a href="https://in.linkedin.com/in/shubhadip-datta-11329482" target="_blank" class="fa fa-linkedin"></a>
        <a href="https://github.com/shubhadipdatta" target="_blank" class="fa fa-github"></a>
        </footer>
    </div>
    <!----------- End of Page Container------------------->

</body>
</html>